<div class="disk-container tabelize">
    <div class="file-list-container style-2 panel">
        <div class="file-list style-1 panel">
            @html.raw(window.viewEngine.renderView('file-list.html', model.getFileNames()))
        </div>
    </div>
    <div class="disk-controls style-2 panel">
        <a class="style-3 btn save-song-btn" href="#">Save</a><br />
        <a class="style-3 btn save-song-as-btn" href="#">Save as...</a><br />
        <a class="style-3 btn load-song-btn" href="#">Load</a><br />
        <a class="style-3 btn delete-song-btn" href="#">Delete</a><br />
        <a class="style-3 btn zap-song-btn" href="#">Zap</a><br />
    </div>
</div>